{% block sidebar %}
<!-- Sidebar Widgets Column -->
{% if cats_menu %}
  <div class="col-md-4 my-5 float-right ">
      <div class="card" style="width: 16rem;">
          <div class="card-header text-center">
            Categories
          </div>
          <ul class="list-group list-group-flush">
          {% for item in cats_menu %}
            <li class="list-group-item"><a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'category' item %}">{{ item }}</a></li>
          {% endfor %}
          </ul>
        </div>
  </div>
{% endif %}
{% endblock %}