{% extends 'base.html' %}
{% block title %}Add Blog Post{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container mt-4">
        <div class="form-group"></div>
            <h1><b>ADD POST</b></h1><br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-primary px-3">Post</button> 
            </form>
        </div>
    <div>
{% else %}
    <strong class="text-danger my-4">Action Not Allowed!</strong>
{% endif %}

{% endblock content %}