{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <h3>Delete: {{ post.title }} </h3>
    </div><br>
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <strong class="text-primary">Are you sure ? You want to delete this post!</strong>
            <div class="d-flex justify-content-center my-4">
            <button class="btn btn-danger px-3 justify-content-center">Delete</button> 
            </div>
        </form>
    </div>
</div>

{% endblock content %}